@use '../abstract/variaveis';
@use '../abstract/mixins';

#nosso-espaco{
    @include mixins.margem-central(80%);
    .detalhes {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        padding: 2rem 0;
        .imgs-espaco {
            max-width: 500px;
        }
        .titulo {
            @include mixins.ff-fs-cl(variaveis.$ft-titulos, 2Rem, variaveis.$cor-secundaria);
            font-weight: 500;
        }
        .infos {
            @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2Rem, variaveis.$cor-primaria);
        }
        .espaco-textos {
            @extend .imgs-espaco;
            .separador {
                width: 100%;
            }
        }
        &:nth-child(2){
            flex-direction: row-reverse;
        }
    }
}