* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-roxa: #9353FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    border: 1px solid black;
    width: 729px;
    margin: auto;
    padding: 40px;
}



button {
    background-color: var(--cor-roxa);
    border: none;
    color: white;
    padding: 9px 18px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 100;
}

input {
    padding: 7px 15px;
}

input::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #6C757D;
}

.checkbox-input {
    display: none;
}

.checkbox-customizado {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.checked {
    background-color: #9353FF;
    position: relative;
}

.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    width: 5px;
    height: 14px;

    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-140deg);
}