.input-field {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #4a4949;
  color: #FFFFFF;
  padding: 8px 16px;
}

.input-field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #4a4949;
}
